<!DOCTYPE html>
<html lang="en">
<head>
<title>Steam Library Exporter</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <div class="header">
  <img src="static/beta-sticker.png" alt="logo" />
  <h1>Steam Library Exporter</h1>
</div>
<!-- 	<h1>Steam Library Exporter<h1> -->
    <h2>Enter Your Steam Username!</h2>
    <h3>We'll use it to pull your game library data from Steam and make a handy spreadsheet.</h3>
    <form action="." method="POST">
        <input type="text" name="text" size="60" placeholder="Steam Username">
        <input type="text" name="email" size="60" placeholder="Your Email">
        <center><input type="submit" name="my-form" value="Export!"><center>
    </form>
</body>
<h4>Built by <a href="https://github.com/landonrobinson">Landon Robinson</a> using Python 2.7 and the Flask framework.</h4>
<h5>This code is <a href="https://github.com/landonrobinson">open source on Github</a> for your viewing/learning.</h4>
</html>


